data/
docs/
tables/
*.html
*.pdf
*.csv
*.docx
*.pptx
*.tex
*.zip
*.xlsx
*.png
*.log
images/
missingness/*.csv
missingness/*.html
missingness/.Rhistory
.Rproj.user
.Rhistory
*.RData
simplified_data.csv
q5.csv
