blockquote {
  font-style: italic
}

.blue-sub-nav {
  background-color: #048eca;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;
}

.blue-sub-nav > li {
  width: 100%;
  text-align: center;
}

.blue-sub-nav li a {
  color: #ffffff;
    display: block;
  font-size: 1.6rem;
  padding: 1.5rem 1.6rem;
  text-decoration: none;
  transition: all, 0.1s;
}

a:link, a:visited, a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

.blue-sub-nav li a:hover {
  background-color: #d86422;
  color: #ffffff;
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}


.sticky ~ #overview-navigation, .sticky ~ #regions-navigation, .sticky ~ #emro-navigation, .sticky ~ #euro-navigation, .sticky ~ #searo-navigation, .sticky ~ #wpro-navigation,.sticky ~ #country-navigation {
    position: fixed !important;
    top: 53px;
    
}


.activeMenuState {
  background: #21313b;
}

.white_logo_appear{
  width: 60% !important;
}

#whiteLogoPosition {
  width: 0%;
}

#white_WHO_logo {
  height: 53px;
  padding: 5px;
}

#WHO_logo {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 3px;
}

.main-container {
  padding-top: 60px;
}



/* White navbar */
* {padding: 0; margin: 0;}

.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.logo {
  margin: 0 0 0 .45em;
}

.logo a, .navigation a {
  text-decoration: none;
  letter-spacing: .15rem;
}

.navigation  {
  display: flex;
  list-style: none;
  text-transform: capitalize;
}

.navigation a {
  display: block;
  padding: 1em;
  padding-left: 2rem;
  color: #048eca;
  font-size: 1.6rem;
}

.navigation a:hover {
    color: #1589d1cf;
}


#overview-navigation{
  background: #21313b;
  color:#fff;
  position: absolute;
  width: 100%;
  /*top:50px;*/
  z-index: 99999;
  
}

#overview-navigation a{
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#overview-navigation a:hover,
#overview-navigation a:active{
  text-decoration: none;
}

#overview-navigation ul{
  margin:40px 0;
  padding:0;
  list-style-type:none;
  text-align: center;
}

#overview-navigation li{
  padding: 10px 0;
}

/* All regions */
#regions-navigation {
  background: #21313b;
  color:#fff;
  position: absolute;
  width: 100%;
  /*top:50px;*/
  z-index: 99999;
}

#regions-navigation a{
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#regions-navigation a:hover,
#regions-navigation a:active{
  text-decoration: none;
}

#regions-navigation ul{
  margin:40px 0;
  padding:0;
  list-style-type:none;
  text-align: center;
}

#regions-navigation li{
  padding: 10px 0;
}


/* EMRO region */
#emro-navigation {
  background: #21313b;
  color:#fff;
  position: absolute;
  width: 100%;
  /*top:50px;*/
  z-index: 99999;
}

#emro-navigation a{
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#emro-navigation a:hover,
#emro-navigation a:active{
  text-decoration: none;
}

#emro-navigation ul{
  margin:40px 0;
  padding:0;
  list-style-type:none;
  text-align: center;
}

#emro-navigation li{
  padding: 10px 0;
}

/* EURO region */
#euro-navigation {
  background: #21313b;
  color:#fff;
  position: absolute;
  width: 100%;
  /*top:50px;*/
  z-index: 99999;
}

#euro-navigation a{
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#euro-navigation a:hover,
#euro-navigation a:active{
  text-decoration: none;
}

#euro-navigation ul{
  margin:40px 0;
  padding:0;
  list-style-type:none;
  text-align: center;
}

#euro-navigation li{
  padding: 10px 0;
}

/* SEARO region */
#searo-navigation {
  background: #21313b;
  color:#fff;
  position: absolute;
  width: 100%;
  /*top:50px;*/
  z-index: 99999;
}

#searo-navigation a{
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#searo-navigation a:hover,
#searo-navigation a:active{
  text-decoration: none;
}

#searo-navigation ul{
  margin:40px 0;
  padding:0;
  list-style-type:none;
  text-align: center;
}

#searo-navigation li{
  padding: 10px 0;
}

/* WPRO region */
#wpro-navigation {
  background: #21313b;
  color:#fff;
  position: absolute;
  width: 100%;
  /*top:50px;*/
  z-index: 99999;
}

#wpro-navigation a{
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#wpro-navigation a:hover,
#wpro-navigation a:active{
  text-decoration: none;
}

#wpro-navigation ul{
  margin:40px 0;
  padding:0;
  list-style-type:none;
  text-align: center;
}

#wpro-navigation li{
  padding: 10px 0;
}

/* Country */
#country-navigation {
  background: #21313b;
  color:#fff;
  position: absolute;
  width: 100%;
  /*top:50px;*/
  z-index: 99999;
}

#country-navigation a{
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}
#country-navigation a:hover,
#country-navigation a:active{
  text-decoration: none;
}

#country-navigation ul{
  margin:40px 0;
  padding:0;
  list-style-type:none;
  text-align: center;
}

#country-navigation li{
  padding: 10px 0;
}

.submenu-text-formatting > li{
  text-align: left;
  padding: 10px !important;
}

.submenu-text-formatting > li:hover {
    background: #d86422;
}

#TOC > ul > li > a {
    color: #ff7700 !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: medium;
    transition: all 0.7s ease;
}


#TOC > ul > li > a:hover {
    color: #e26b02!important;
    font-size: 17px;
}

#TOC > ul > li {
    list-style-type: none;
    list-style-position: inside;
}

#TOC > ul > li > ul > li {
    list-style-type: '-';
    list-style-position: inside;
}

#TOC > ul > li > ul > li > a {
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: small;
    margin-left: 15px;
    transition: all 0.7s ease;
}

#TOC > ul > li > ul > li > a:hover {
    color: #068fcad1;
}

#TOC > ul > li > ul > li > ul > li > a {
    color: #3a3939;
    font-weight: 300;
    margin-left: 35px;
    font-size: smaller;
    text-transform: uppercase;
    transition: all 0.7s ease;
}

#TOC > ul > li > ul > li > ul > li > a:hover {
    color: #068fca;
}

#TOC > ul > li > ul > li > ul > li {
    list-style-type: none;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


/* Dropdown menu */

.top-level-menu > li:nth-child(3) > .second-level-menu > li > .third-level-menu {
  left: -120% !important;
  right: 0 !important;
}

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -120%;
    width: 120%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    /* height: 30px; */
    background: #068fca;
}
.third-level-menu > li:hover { background: #0784bb; }

.second-level-menu
{
    position: absolute;
    /* top: 30px; */
    left: 0;
    /* width: 150px; */
    list-style: none;
    /* padding: 0; */
    /* margin: 0; */
    display: none;
    width: 100%;
    text-align: justify;
}

.second-level-menu > li
{
    position: relative;
    /* height: 30px; */
    background: #068fca;
}
.second-level-menu > li:hover { background: #0484bb; }

.top-level-menu
{
    /* list-style: none; */
    /* padding: 0; */
    /* margin: 0; */
}

.top-level-menu > li
{
    position: relative;
    float: left;
    /* height: 30px; */
    /* width: 150px; */
    /* background: #999999; */
}
.top-level-menu > li:hover { background: #0484bb; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
}
    /* line-height: 30px;* /
}
.top-level-menu a:hover { color: #000000; }


/* Custom tabbar */
.custom_tabbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 35px;
    background: #f4f1f4;
}

.custom_tabbar li {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.custom_tabbar li a {
    color: #808081;
    font-weight: 500;
    font-size: 11px;
}

.custom_tabbar__list-active {
    background: #068ecaba;
}

.custom_tabbar__list-active a {
    color: #ffffff !important;
}


/* Decrease font size for laptops with screen 13.3inch and less */
@media all and (max-width: 1450px) {
 
  .blue-sub-nav li a {
    font-size: 1.3rem;
    padding: 1.8rem 1.8rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  
}